@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body, html {
    font-family: Arial, sans-serif;
    background-color: lightgray;
}
header {
    background-color: gray;
  
}
header h1 {
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}
i#burger{
    background-color: rgb (48,48,48);
    color: white;
    display: block;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
}
i#burger:hover{
    background-color: white;
    color: black;
}
menu{
    display: none;
}

menu li{
    list-style-type:none;
}
menu a{
    text-decoration: none;
    color: #eaeff2;
    padding: 10px 15px;
    display: block;
    text-align: center;
    border-top: 2px solid black;
}
menu a:hover{
    background-color: black;
}
main{
    width: 90vw;
    margin: auto;
    background-color: white;
    margin-top: 20px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    

}
article h1{
    text-align: center;
    margin-bottom: 20px;
}
article p{
    text-align: justify;
    margin-bottom: 15px;
    line-height: 1.6;
    text-indent: 20px;
}