@charset "UTF-8";

/*Aparelho deitado (landscpape*/
@media only screen and (orientation: landscape) {
    body {
        background-image: url(../imagens/cev-landscape.jpg);
        background-repeat: no-repeat;
        background-position: left bottom;


    }

    h1 {
        color: navy;
        margin-left: 20px;
    }
}