@charset "UTF-8";

/*Estilos gerais para todas as orientações */

*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}
html, body {
    height: 100vh;
    width: 100vw;
    background-color: #233eff;
    background-size: contain;
}

h1{
    color: white;
    text-shadow: 2px 2px 4px #1526a7;
    padding: 10px;

}
H2{
    color: white;
    text-shadow: 2px 2px 4px #1526a7;
    padding: 10px;
    margin: 10px;


}
/*Estilos específicos para diferentes orientações são definidos em outros arquivos CSS */
/*paisagem.css e retrato.css */
/* Estes arquivos são importados conforme a orientação do dispositivo */
@import url('paisagem.css');
@import url('retrato.css');
